@import "tailwindcss";
@font-face {
  font-family: 'Uniform';
  src: url('/fonts/uniform/Uniform.otf') format('opentype'),
  url('/fonts/uniform/Uniform.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UniformBlack';
  src: url('/fonts/uniform/UniformBlack.otf') format('opentype'),
  url('/fonts/uniform/UniformBlack.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-light: #fafafa;
  --color-dark: #030303;

  --background: var(--color-light);
  --background-light: color-mix(in srgb, var(--background), white 20%);
  --background-dark: color-mix(in srgb, var(--background), black 20%);

  --foreground: var(--color-dark);
  --foreground-light: color-mix(in srgb, var(--foreground), white 20%);
  --foreground-dark: color-mix(in srgb, var(--foreground), black 20%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-dark);
    --background-light: color-mix(in srgb, var(--background), white 20%);
    --background-dark: color-mix(in srgb, var(--background), black 20%);

    --foreground: var(--color-light);
    --foreground-light: color-mix(in srgb, var(--foreground), white 20%);
    --foreground-dark: color-mix(in srgb, var(--foreground), black 20%);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.uniform {
  font-family: Uniform, Arial, Helvetica, sans-serif;
}
.uniform-black {
  font-family: UniformBlack, Arial, Helvetica, sans-serif;
}


.form-input {
  @apply w-full p-2 border rounded;
}